<!DOCTYPE html>

<!--
  Copyright 2018 BlackBerry.  All Rights Reserved.
  
  You must obtain a license from and pay any applicable license fees to
  BlackBerry before you may reproduce, modify or distribute this software, or
  any work that includes all or part of this software.
-->

<dom-module id="bbm-chat-user-password">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: auto;
        width: auto;
        left: calc(50% - 75px);
        left: -webkit-calc(50% - 75px);
        top: calc(50% - 100px);
        top: -webkit-calc(50% - 100px);
        background: whitesmoke;
        border: 1px solid gray;
        border-radius: 5px;
        z-index: 9999;
        align-items: center;
        padding: 15px;
        box-shadow: 0px 8px 24px 0px black;
        font-size: 12px;
        font-family: arial;
      }

      .bbm-pw-header {
        font: inherit;
        align-self: flex-start;
        margin-bottom: 5px;
      }

      .bbm-pw-reenter{
        font: inherit;
        align-self: flex-start;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .bbm-pw-input {
        font: inherit;
        border-radius: 0px;
        width: calc(100% - 10px);
        width: -webkit-calc(100% - 10px);
        height: 25px;
        margin: 5px 0px 5px 0px;
      }

      .bbm-password-match-label {
        font: inherit;
        align-self: flex-start;
        color: red;
        margin: 3px;
      }

      .bbm-password-failed-label {
        font: inherit;
        align-self: flex-start;
        color: red;
        margin: 3px;
      }

      .bbm-password-button-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .bbm-password-button {
        border-radius: 0px;
        padding: 0px;
        font: inherit;
        width: 104px;
        height: 30px;
        margin: 3px;
      }

    </style>
      <label class="bbm-pw-header">[[dialogHeader]]</label>
      <input class="bbm-pw-input" 
             id="password"
             type="password"
             value="{{password::input}}"
             onkeydown="[[passwordInputOnKeyDown()]]"/>
      <label class="bbm-pw-reenter" style$="display:[[displayForNewOnly]];">Re enter password</label>
      <input class="bbm-pw-input"
             type="password"
             value="{{passwordConfirm::input}}"
             style$="display:[[displayForNewOnly]];"
             onkeydown="[[passwordInputOnKeyDown()]]"/>
      <label class="bbm-password-match-label"
             style$="display:[[displayPasswordMatch]];">
             Passwords don't match
      </label>
      <label class="bbm-password-failed-label"
        style$="display:[[displayPasswordFailed]];">
        Failed to use the password provided with your keys. How would you like to proceed?
      </label>
      <div class="bbm-password-button-wrapper">
        <button class="bbm-password-button"
                onclick="[[onCancelClick()]]">Cancel</button>
        <button class="bbm-password-button"
                style$="display:[[displayForExistingOnly]];"
                onclick="[[onResetPasswordClick()]]">
                Reset Password
        </button>
        <button class="bbm-password-button"
                disabled$=[[okButtonDisabled]]
                onclick="[[onOkClick()]]">Ok</button>
      </div>
  </template>
  <script src="js/bbmChatUserPassword.js"></script>
</dom-module>
